* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
@keyframes change-color {
    0% { color: crimson; }
    33% { color: palevioletred; }
    56% { color: brown; }
    66% { color: purple; }
    76% { color: mediumorchid; }
    100% { color:darkblue; }
  }
  
  .change-color {
    animation: change-color 2s linear infinite;
    text-decoration: none;
    text-align: center;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

/* h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 30px;
}
h1:hover{
    color: crimson;
} */

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #a8bac6;
    color: black;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}
